# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/

# Environment variables
.env

# Large data files and folders
data/
*.pdf
*.txt

# IDE / Editor specific
.vscode/
.idea/

# Database files
chroma_db/
chroma_db_final_structured/
*.sqlite3

