langchain
langchain-core
langchain-community
langchain-experimental
langchain-google-genai
langchain-ollama
langchain-chroma
google-generativeai
python-dotenv
tqdm
unstructured[pdf,ocr]
pytesseract
pymupdf
rank_bm25
